.nws-layout-balance {
  // 変数
  --nws-layout-gapX: 0px;
  --nws-layout-gapY: 0px;
  --nws-layout-childSizeX: auto;
  --nws-layout-childSizeY: auto;
  --nws-layout-childRatio: auto;

  // balanceのスタイル
  display: grid;

  // 横並び
  &.nws-layout-direction-x {
    grid-auto-flow: column;
  }

  // 縦並び
  &.nws-layout-direction-y {
    grid-auto-flow: row;
  }

  // 横位置
  &.nws-layout-alignX-left {
    // 横位置: 左
    justify-items: flex-start;
  }
  &.nws-layout-alignX-center {
    // 横位置: 中央
    justify-items: center;
  }
  &.nws-layout-alignX-right {
    // 横位置: 右
    justify-items: flex-end;
  }
  &.nws-layout-alignX-spaceBetween {
    // 横位置: 両端揃え
    justify-items: space-between;
  }
  &.nws-layout-alignX-spaceAround {
    // 横位置: 両端余白あり均等
    justify-items: space-around;
  }
  &.nws-layout-alignX-spaceEvenly {
    // 横位置: 完全均等
    justify-items: space-evenly;
  }

  // 縦位置
  &.nws-layout-alignY-top {
    // 縦位置: 上
    align-items: flex-start;
  }
  &.nws-layout-alignY-middle {
    // 縦位置: 中央
    align-items: center;
  }
  &.nws-layout-alignY-bottom {
    // 縦位置: 下
    align-items: flex-end;
  }
  &.nws-layout-alignY-spaceBetween {
    // 縦位置: 両端揃え
    align-items: space-between;
  }
  &.nws-layout-alignY-spaceAround {
    // 縦位置: 両端余白あり均等
    align-items: space-around;
  }
  &.nws-layout-alignY-spaceEvenly {
    // 縦位置: 完全均等
    align-items: space-evenly;
  }

  // 子要素の幅調整
  & > * {
    min-width: 0;
  }
  &.nws-layout-childSizeX > * {
    width: var(--nws-layout-childSizeX);
  }
  &.nws-layout-adjustX-fit {
    // 子要素の幅調整: 伸ばす & 縮める
    justify-items: stretch;
    // 子要素
    & > * {
      width: auto;
    }
    &.nws-layout-childSizeX > * {
      width: auto;
    }
  }
  &.nws-layout-adjustX-grow {
    // 子要素の幅調整: 伸ばす
    & > * {
      width: 100%;
    }
    &.nws-layout-childSizeX > * {
      min-width: var(--nws-layout-childSizeX);
    }
  }
  &.nws-layout-adjustX-shrink {
    // 子要素の幅調整: 縮める
    & > * {
      width: 100%;
    }
    &.nws-layout-childSizeX > * {
      max-width: var(--nws-layout-childSizeX);
    }
  }
  // 子要素の高さ調整
  & > * {
    min-height: 0;
  }
  &.nws-layout-childSizeY > * {
    height: var(--nws-layout-childSizeY);
  }
  &.nws-layout-adjustY-fit {
    // 子要素の高さ調整: 伸ばす & 縮める
    align-items: stretch;
    // 子要素
    & > * {
      height: auto;
    }
    &.nws-layout-childSizeY > * {
      height: auto;
    }
  }
  &.nws-layout-adjustY-grow {
    // 子要素の高さ調整: 伸ばす
    & > * {
      height: 100%;
    }
    &.nws-layout-childSizeY > * {
      min-height: var(--nws-layout-childSizeY);
    }
  }
  &.nws-layout-adjustY-shrink {
    // 子要素の高さ調整: 縮める
    & > * {
      height: 100%;
    }
    &.nws-layout-childSizeY > * {
      max-height: var(--nws-layout-childSizeY);
    }
  }

  &.nws-layout-gapX {
    // 横方向の間隔
    column-gap: var(--nws-layout-gapX);
  }

  &.nws-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--nws-layout-gapY);
  }

  &.nws-layout-childRatio > * {
    // 縦横比
    aspect-ratio: var(--nws-layout-childRatio);
  }
}
