.nws-layout-pack {
  // 変数
  --nws-layout-gapX: 0px;
  --nws-layout-gapY: 0px;
  --nws-layout-childRatio: auto;

  // pack用のスタイル
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  & > * {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &.nws-layout-direction-x {
    // 子要素を並べる向き・横並び
    flex-direction: row;
    & > * {
      min-width: 0;
      min-height: 100%;
      max-height: 100%;
    }
  }

  &.nws-layout-direction-y {
    // 子要素を並べる向き・縦並び
    flex-direction: column;
    & > * {
      min-height: 0;
      min-width: 100%;
      max-width: 100%;
    }
  }

  // 子要素の間隔
  &.nws-layout-gapX {
    // 横方向の間隔
    column-gap: var(--nws-layout-gapX);
  }

  &.nws-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--nws-layout-gapY);
  }
}
