.nws-layout-pack {
  // 変数
  --nws-layout-spacingX: 0px;
  --nws-layout-spacingY: 0px;

  // pack用のスタイル
  display: grid;

  &.nws-layout-spacingX {
    // 横方向の間隔
    column-gap: var(--nws-layout-spacingX);
  }

  &.nws-layout-spacingY {
    // 縦方向の間隔
    row-gap: var(--nws-layout-spacingY);
  }

  // 横並び
  &.nws-layout-direction-x {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  // 縦並び
  &.nws-layout-direction-y {
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  }

  & > * {
    height: auto;
    width: auto;
    min-height: 0;
    min-width: 0;
  }
}
