.nws-layout-tile {
  // 変数
  --nws-layout-gapX: 0px;
  --nws-layout-gapY: 0px;
  --nws-layout-childSizeX: auto;
  --nws-layout-childSizeY: auto;
  --nws-layout-childRatio: auto;

  // tileのスタイル
  display: grid;
  & > * {
    min-width: 0;
    min-height: 0;
  }

  &.nws-layout-direction-x {
    // 子要素を並べる向き・横並び
    grid-auto-flow: row;

    // 子要素の幅調整
    grid-template-columns: repeat(auto-fit, minmax(max-content, 100%));
    &.nws-layout-childSizeX {
      grid-template-columns: repeat(auto-fit, var(--nws-layout-childSizeX));
    }
    // 子要素の幅調整: adjustX-* 共通のデフォルト
    &.nws-layout-adjustX-fit,
    &.nws-layout-adjustX-grow,
    &.nws-layout-adjustX-shrink {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      & > * {
        width: auto;
      }
    }
    &.nws-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      &.nws-layout-childSizeX {
        grid-template-columns: repeat(
          auto-fit,
          minmax(clamp(0px, 100%, var(--nws-layout-childSizeX)), 1fr)
        );
      }
    }
    &.nws-layout-adjustX-grow {
      // 子要素の幅調整: 伸ばす
      &.nws-layout-childSizeX {
        grid-template-columns: repeat(
          auto-fit,
          minmax(var(--nws-layout-childSizeX), 1fr)
        );
      }
    }
    &.nws-layout-adjustX-shrink {
      // 子要素の幅調整: 縮める
      &.nws-layout-childSizeX {
        grid-template-columns: repeat(
          auto-fit,
          minmax(0, var(--nws-layout-childSizeX))
        );
      }
    }

    // 子要素の高さ調整
    grid-auto-rows: auto;
    &.nws-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      grid-auto-rows: minmax(0, 100%);
      align-content: stretch;
      // 子要素
      & > * {
        height: auto;
      }
    }
    &.nws-layout-adjustY-grow {
      // 子要素の高さ調整: 伸ばす
      grid-auto-rows: minmax(auto, 100%);
      & > * {
        max-height: 100%;
        height: 100%;
      }
      &.nws-layout-childSizeY {
        grid-auto-rows: minmax(var(--nws-layout-childSizeY), 100%);
        & > * {
          min-height: var(--nws-layout-childSizeY);
        }
      }
    }
    &.nws-layout-adjustY-shrink {
      // 子要素の高さ調整: 縮める
      grid-auto-rows: minmax(0, auto);
      & > * {
        min-height: 100%;
        height: 100%;
      }
      &.nws-layout-childSizeY {
        grid-auto-rows: minmax(0, var(--nws-layout-childSizeY));
        & > * {
          max-height: var(--nws-layout-childSizeY);
        }
      }
    }
  }

  &.nws-layout-direction-y {
    // 子要素を並べる向き・縦並び
    grid-auto-flow: column;

    // 子要素の幅調整
    grid-auto-columns: auto;
    // 子要素の幅調整: adjustX-* 共通のデフォルト
    &.nws-layout-adjustX-fit,
    &.nws-layout-adjustX-grow,
    &.nws-layout-adjustX-shrink {
      & > * {
        width: auto;
      }
    }
    &.nws-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      grid-auto-columns: minmax(0, 100%);
    }
    &.nws-layout-adjustX-grow {
      // 子要素の幅調整: 伸ばす
      grid-auto-columns: minmax(auto, 100%);
      &.nws-layout-childSizeX {
        grid-auto-columns: minmax(var(--nws-layout-childSizeX), 100%);
      }
    }
    &.nws-layout-adjustX-shrink {
      // 子要素の幅調整: 縮める
      grid-auto-columns: minmax(0, auto);
      &.nws-layout-childSizeX {
        grid-auto-columns: minmax(0, var(--nws-layout-childSizeX));
      }
    }

    // 子要素の高さ調整
    grid-template-rows: repeat(auto-fit, minmax(max-content, 100%));
    &.nws-layout-childSizeY {
      grid-template-rows: repeat(auto-fit, var(--nws-layout-childSizeY));
    }
    // 子要素の高さ調整: adjustY-* 共通のデフォルト
    &.nws-layout-adjustY-fit,
    &.nws-layout-adjustY-grow,
    &.nws-layout-adjustY-shrink {
      grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    }
    &.nws-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      align-content: stretch;
      // 子要素
      & > * {
        height: auto;
      }
      &.nws-layout-childSizeY {
        grid-template-rows: repeat(
          auto-fit,
          minmax(clamp(0px, 100%, var(--nws-layout-childSizeY)), 1fr)
        );
      }
    }
    &.nws-layout-adjustY-grow {
      // 子要素の高さ調整: 伸ばす
      & > * {
        max-height: 100%;
        height: 100%;
      }
      &.nws-layout-childSizeY {
        grid-template-rows: repeat(
          auto-fit,
          minmax(var(--nws-layout-childSizeY), 1fr)
        );
        & > * {
          min-height: var(--nws-layout-childSizeY);
        }
      }
    }
    &.nws-layout-adjustY-shrink {
      // 子要素の高さ調整: 縮める
      & > * {
        min-height: 100%;
        height: 100%;
      }
      &.nws-layout-childSizeY {
        grid-template-rows: repeat(
          auto-fit,
          minmax(0, var(--nws-layout-childSizeY))
        );
        & > * {
          max-height: var(--nws-layout-childSizeY);
        }
      }
    }
  }

  &.nws-layout-alignX-left {
    // 横位置: 左
    justify-content: flex-start;
  }
  &.nws-layout-alignX-center {
    // 横位置: 中央
    justify-content: center;
  }
  &.nws-layout-alignX-right {
    // 横位置: 右
    justify-content: flex-end;
  }
  &.nws-layout-alignX-spaceBetween {
    // 横位置: 両端揃え
    justify-content: space-between;
  }
  &.nws-layout-alignX-spaceAround {
    // 横位置: 両端余白あり均等
    justify-content: space-around;
  }
  &.nws-layout-alignX-spaceEvenly {
    // 横位置: 完全均等
    justify-content: space-evenly;
  }

  &.nws-layout-alignY-top {
    // 縦位置: 上
    align-content: flex-start;
  }
  &.nws-layout-alignY-middle {
    // 縦位置: 中央
    align-content: center;
  }
  &.nws-layout-alignY-bottom {
    // 縦位置: 下
    align-content: flex-end;
  }
  &.nws-layout-alignY-spaceBetween {
    // 縦位置: 両端揃え
    align-content: space-between;
  }
  &.nws-layout-alignY-spaceAround {
    // 縦位置: 両端余白あり均等
    align-content: space-around;
  }
  &.nws-layout-alignY-spaceEvenly {
    // 縦位置: 完全均等
    align-content: space-evenly;
  }

  &.nws-layout-childSizeX > * {
    // 子要素の幅
    width: var(--nws-layout-childSizeX);
  }

  &.nws-layout-childSizeY > * {
    // 子要素の高さ
    height: var(--nws-layout-childSizeY);
  }

  &.nws-layout-childRatio > * {
    // 縦横比
    aspect-ratio: var(--nws-layout-childRatio);
  }

  &.nws-layout-gapX {
    // 横方向の間隔
    column-gap: var(--nws-layout-gapX);
  }

  &.nws-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--nws-layout-gapY);
  }
}
