.nws-layout-pin {
  // 変数
  --nws-layout-childSizeX: auto;
  --nws-layout-childSizeY: auto;
  --nws-layout-childRatio: auto;

  // pin用のスタイル
  display: block;
  position: relative;

  & > * {
    position: absolute;
  }

  &.nws-layout-childSizeX > * {
    // 子要素の幅
    width: var(--nws-layout-childSizeX);
  }

  &.nws-layout-childSizeY > * {
    // 子要素の高さ
    height: var(--nws-layout-childSizeY);
  }

  &.nws-layout-childRatio > * {
    // 縦横比
    aspect-ratio: var(--nws-layout-childRatio);
  }
}
